.input-lg {
    width: 75%;
    margin-left: 10%;
    height: 39px;
    border-radius : 50px;
}

.navbar{
    margin-bottom: 0px;
}

.btn-info  , .btn-start , .btn-submit {
    background-color: #08E99F;
    border-color: #08E99F ;
    font-weight: bold;
    height: 55px;
    border-radius: 21px;
}

.your_result{
    float: left;
    margin: 100px;
}

.date_result{
    float: right;
    margin: 100px;
}

.navbar {
    line-height: 4.7;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    background-color: black;
}

.content , .questions-form{
    color: white;
    text-align: center;
}

.form-control{
    width: 50%;
    margin-bottom: 4%;
}

.form-group{
    text-align: -webkit-center;
}

.introduce{
    display: inline-block;
}

.rules{
    text-align: left;
    margin-bottom: 50px;
}


.loading , .goodcouple{
    text-align: center;
}


.loading > img{
    width: 800px;
    height: 600px;
}

.goodcouple >img , .badcouple > img{
    width: 800px;
    height: 400px;
    margin-top: 5%;
}

.navbar-inverse  {
    background-color: black;
}

.answers-form h1{
    font-size: 60px;
    font-weight: bolder;
}

.btn-answer{
    width: 60%;
    margin: 3%;
}